@import '../variables/palette';

@mixin bagua-canvas-container {
  height: 600px;
  position: relative;
  width: 800px;

  canvas {
    position: absolute;
  }

  .overlay {
    background-color: transparent;
    position: absolute;
    height: 600px;
    width: 800px;
    z-index: 1;

    @mixin point ($size: 10px) {
      background-color: transparent;
      height: $size;
      margin-left: - $size / 2;
      margin-top: - $size / 2;
      position: absolute;
      width: $size;
      z-index: 2;
    }

    .point {
      @include point;
    }

    .gravity-center {
      @include point($size: 15px);
    }
  }
}
