@import '../variables/palette';

@mixin bagua-canvas-container {
  height: 600px;
  position: relative;
  width: 800px;

  canvas {
    position: absolute;
  }

  .overlay {
    background-color: transparent;
    position: absolute;
    height: 600px;
    width: 800px;
    z-index: 1;
    img {
      height: 10px;
      margin-left: -5px;
      margin-top: -5px;
      position: absolute;
      width: 10px;
    }
  }
}
